.logoCenter {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
}

.about {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  font-family: "roboto";
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
