<section class="mat-typography about">
  <div class="logoCenter">
    <img src="assets/launcher-icon.png">
  </div>

  <h2>Version 1.0</h2>

  <p>Telepathy is a free open source password manager.</p>

  <p>
  Project website: <br>
  <a href="https://telepathy.pw" target="_blank">https://telepathy.pw</a>
  </p>

  <p>
  Chemeloid website: <br>
  <a href="http://www.chameleoid.com/" target="_blank">http://www.chameleoid.com/</a>
  </p>

  <p>
  Source code: <br>
  <a href="https://github.com/chameleoid/telepathy" target="_blank">https://github.com/chameleoid/telepathy</a>
  </p>

  <p>
  This software is licenced under the <a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">Mozilla Public Licence 2.0</a>
  </p>

  <p>
  Bug reports and feature requests: <br>
  <a href="https://github.com/chameleoid/telepathy-web/issues" target="_blank">https://github.com/chameleoid/telepathy-web/issues</a>
  </p>
</section>
