.logoCenter {
  padding: 2em 0 1em;
  text-align: center;
}

.about {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
