<form>
  <mat-expansion-panel expanded="true" hideToggle="true">
    <mat-form-field>
      <input matInput placeholder="Serivce">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field class="password-form">
      <input matInput type="password" autocomplete="no">
    </mat-form-field>

    <div class="flex-container">
      <label for="passwordLength">Password Length</label>
      <mat-slider thumbLabel id="passwordLength" min="1" max="128" step="1" class="flex-1"></mat-slider>
    </div>

    <div class="flex-container">
      <label class="flex-1">Chracter Sets</label>
      <div class="flex-2 flex-container">
        <mat-button-toggle-group multiple [disabled]="xkcd.checked">
          <mat-button-toggle #lower checked="true">
            a-z
          </mat-button-toggle>
          <mat-button-toggle #upper checked="true">
            A-Z
          </mat-button-toggle>
          <mat-button-toggle #number checked="true">
            0-9
          </mat-button-toggle>
          <mat-button-toggle #symbol>
            !@#$
          </mat-button-toggle>
        </mat-button-toggle-group>

        <span class="flex-1"></span>

        <mat-button-toggle #xkcd>
          XKCD936
        </mat-button-toggle>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="flex-container">
      <label>Password Index</label>
      <span matTooltip="If you need to change your password for any reason this increasing this number will generate a new password without having to change the seed.">
        <mat-icon>help_outline</mat-icon>
      </span>

      <mat-slider thumbLabel min="0" max="100" step="1" class="flex-1"></mat-slider>
    </div>

    <div class="flex-container">
      <label>Remember Service Settings</label>
      <span matTooltip="If you have multiple accounts on this service this will keep the settings between them.">
        <mat-icon matListIcon>help_outline</mat-icon>
      </span>

      <span class="flex-1"></span>
      <mat-slide-toggle checked></mat-slide-toggle>
    </div>
  </mat-expansion-panel>

</form>
