<form class="example-form">
  <mat-expansion-panel expanded="true" hideToggle="true">
    <mat-form-field>
      <input matInput placeholder="Service">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>

    <!--<mat-slider #length min="1" max="100" step="1" value="10"></mat-slider>-->

    <div>
      <mat-button-toggle-group multiple>
        <mat-button-toggle #lower checked="true">
          a-z
        </mat-button-toggle>
        <mat-button-toggle #upper checked="true">
          A-Z
        </mat-button-toggle>
        <mat-button-toggle #number checked="true">
          0-9
        </mat-button-toggle>
        <mat-button-toggle #symbol>
          !@#$
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</form>
