.password-form {
  min-width: 150px;
  max-width: 750px;
  width: 100%;
  margin: auto;
  text-align: center;
}

mat-expansion-panel {
  box-shadow: none !important;
}

span {
  color: rgba (255,255,255,0.87)
}

.flex-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
