<form>
  <mat-expansion-panel expanded="true" hideToggle="true">
    <mat-form-field>
      <input matInput placeholder="Serivce">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>

    <div fxLayout="row" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="start center">
      <mat-form-field class="password-form">
        <input matInput type="password" autocomplete="no">
        <mat-icon fxFlexOffset="-40px">visibility_off</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="start center">
      <mat-label for="passwordLength">Password Length</mat-label>
      <mat-slider thumbLabel id="passwordLength" min="1" max="128" step="1"></mat-slider>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="28%">
      <mat-label>Character Sets</mat-label>
      </div>

      <div fxFlex="50%">
        <mat-button-toggle-group multiple [disabled]="xkcd.checked">
          <mat-button-toggle #lower checked="true">
            a-z
          </mat-button-toggle>
          <mat-button-toggle #upper checked="true">
            A-Z
          </mat-button-toggle>
          <mat-button-toggle #number checked="true">
            0-9
          </mat-button-toggle>
          <mat-button-toggle #symbol>
            !@#$
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div fxFlex></div>
        <mat-button-toggle #xkcd>
          XKCD936
        </mat-button-toggle>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="flexText">
      <mat-label>Legacy Generation Mode</mat-label>

      <span fxFlex></span>
      <mat-slide-toggle></mat-slide-toggle>
    </div>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
      <mat-label matTooltip="Changes password generation">Password Index</mat-label>

      <mat-slider thumbLabel min="0" max="100" step="1" class="flex-1"></mat-slider>
    </div>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
      <mat-label matTooltip="Saves character sets and passwrd length">Remember Service Settings</mat-label>

      <span fxFlex></span>
      <mat-slide-toggle checked></mat-slide-toggle>
    </div>

  </mat-expansion-panel>

</form>
