mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 300px;
  background: linear-gradient(#37479F, #347396);
}

mat-toolbar {
  background-color: rgba(0,0,0,0);
}

mat-sidenav-container {
  background: linear-gradient(#3F51B5, #20729F)
}

.resources {
  position: fixed;
  bottom: 10px;
}

.logo {
  margin: 0 auto 1em;
  display: inline-block;
}

.username {
  margin: 0;
}

.resources a, .resources h3 {
  color: rgba(255, 255, 255, .7);
}
