<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <img src="assets/launcher-icon.png" class="logo">
      </mat-toolbar-row>

    </mat-toolbar>

    <mat-list class="username">
      <mat-list-item>Default username</mat-list-item>
    </mat-list>

    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/generate">
        <mat-icon matListIcon>vpn_key</mat-icon>
        Passwords
      </a>

      <a mat-list-item routerLink="/identity">
        <mat-icon matListIcon>face</mat-icon>
        Identity
      </a>

      <a mat-list-item routerLink="/about">
        <mat-icon matListIcon>info</mat-icon>
        About
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list (click)="sidenav.close()" class="resources">
      <h3 matSubheader>Resources</h3>

      <a mat-list-item target="_blank" href="https://fosstodon.org/@chameleoid">
        <mat-icon matListIcon fontSet="fa" fontIcon="fa-mastodon"></mat-icon>
        Updates
      </a>

      <a mat-list-item target="_blank" href="https://github.com/chameleoid/telepathy">
        <mat-icon matListIcon fontSet="fa" fontIcon="fa-github"></mat-icon>
        Source Code
      </a>

      <a mat-list-item target="_blank" href="https://liberapay.com/chameleoid">
        <mat-icon matListIcon fontSet="fa" fontIcon="fa-liberapay"></mat-icon>
        Donate
      </a>

      <a mat-list-item target="_blank" href="https://chameleoid.com/privacy">
        <mat-icon matListIcon>lock_outline</mat-icon>
        Privacy
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span>Title</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

