/* You can add global styles to this file, and also import other style files */

form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

mat-slider {
  width: 100%;
}

span {
  color: rgba (255,255,255,0.87)
}

mat-label {
  color: rgba(255, 255, 255, .87);
}

mat-expansion-panel {
  box-shadow: none !important;
}

[fxlayout] > mat-label {
  white-space: nowrap;
}
